doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='javascript', href='/javascripts/bootstrap.bundle.min.js')

    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top(style='background-color: #000000')
      .container
        a.navbar-brand(href='/') TEST
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            if user
              .navbar-text.px-3
                | Hello, #{user.firstName}
              li.nav-item.px-3
                a.nav-link(href='/admin') Admin
              li.nav-item.px-3
                a.nav-link(href='/auth/logout') Log Out
  body
    .container.my-3
      block content
